@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Patua+One&family=Roboto+Mono:wght@300&display=swap');

:root {
    --main-color: brown;
  }

* {
    font-family: 'Montserrat', sans-serif;
}
body, html {
    box-sizing: border-box;
    height: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: var(--main-color);
}

.active {
    color: pink;
}
  