@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Patua+One&family=Roboto+Mono:wght@300&display=swap');

:root {
    --background-color: #A0CA92;
    --green-2: #C6DA9A;
    --darker-green: #75B09C;
    --pink: #FD88C1;
    --yellow: #ECD98D;
  }

* {
    font-family: 'Montserrat', sans-serif;
}
body, html {
    box-sizing: border-box;
    height: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(background-color);
}

div {
    background-color: var(background-color);
}

.container {

}

a {
    color: var(--main-color);
}

.active {
    color: pink;
}
  